.header {
  padding: 15px;
  border-radius: 10px;
  background-color: #f3f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 25px;
}
.container {
  margin: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.criteria-container {
  border-radius: 10px;
  background-color: #f3f3f3;
}

.batch-name {
  font-size: 20px;
  color: #6a6a6a;
  font-weight: lighter;
}

.score-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #6a6a6a;
  background-color: #6a6a6a;
  border-radius: 15px;
  height: 80px;
  width: 80px;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  gap: 15px;

  span {
    font-size: 15px;
    color: white;
  }
  .score{
    font-size: 30px;
    color: white;
  }
}

.compare-batch-select {
  width: 300px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
