<div class="header">
  <mat-form-field *ngIf="allBatchPayments" appearance="outline" class="compare-batch-select">
    <mat-label>Comparaison avec</mat-label>
    <mat-select (selectionChange)="onChangeBatchCompare($event.value)">
      <mat-option [value]="null"></mat-option>
      <ng-container *ngFor="let batch of allBatchPayments">
        <mat-option [value]="batch.id">{{ batch.name }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <div class="flex flex-row gap-20 align-items-center">
    <p class="batch-name">{{ batchPayment?.name }}</p>
    <div class="score-container pointer" (click)="updateScore()">
      <span>Score</span>
      <span class="score">
      {{ batchPayment?.score | flexibleNumber }}
    </span>
    </div>
  </div>



</div>
<div class="container flex">
  <div class="criteria-container">
    <app-match-ssin [batchId]="batchId" [compareBatchId]="selectedBatchId" [source]="'payment'"></app-match-ssin>
  </div>
  <div class="criteria-container">
   <app-match-plan [batchId]="batchId" [compareBatchId]="selectedBatchId" [source]="'payment'"></app-match-plan>
  </div>
  <div class="criteria-container">
   <app-match-amount [batchId]="batchId" [compareBatchId]="selectedBatchId" [source]="'payment'"></app-match-amount>
  </div>
  <div class="criteria-container">
    <app-match-ssin [batchId]="batchId" [compareBatchId]="selectedBatchId" [source]="'recovery'"></app-match-ssin>
  </div>
  <div class="criteria-container">
    <app-match-plan [batchId]="batchId" [compareBatchId]="selectedBatchId" [source]="'recovery'"></app-match-plan>
  </div>
  <div class="criteria-container">
    <app-match-amount [batchId]="batchId" [compareBatchId]="selectedBatchId" [source]="'recovery'"></app-match-amount>
  </div>
</div>


