<div class="upload-section">

    @if (file) {
      <label for="fileUploaded" class="upload-label">
        <mat-icon>cloud_done</mat-icon>
        <span>Cliquez pour changer de fichier</span>
        <input
          id="fileUploaded"
          type="file"
          accept=".csv"
          (change)="onFileSelected($event)"
          hidden
        />
      </label>
    } @else {
      <label for="fileUpload" class="upload-label">
        <mat-icon>cloud_upload</mat-icon>
        <span>Cliquez pour sélectionner un fichier</span>
        <input
          id="fileUpload"
          type="file"
          accept=".csv"
          (change)="onFileSelected($event)"
          hidden
        />
      </label>
    }
</div>
