/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-end {
  justify-content: flex-end;
}

.gap-10 {
  gap: 10px;
}

.pointer {
  cursor: pointer;
}

.hover-strikethrough:hover {
  text-decoration: line-through;
}
