<div class="header">
  <p>Correspondance des montants</p>
</div>
<div class="container flex flex-row" *ngIf="!isLoaded">
  <mat-spinner></mat-spinner>
</div>
<div class="container flex flex-row" *ngIf="isLoaded">
  <div class="chart-container" style="display: block;">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [legend]="barChartLegend">
    </canvas>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element">
        {{element.desc}}
      </td>
    </ng-container>

    <ng-container matColumnDef="gross">
      <th mat-header-cell *matHeaderCellDef> Brut </th>
      <td mat-cell *matCellDef="let element">
        @if (element.filter) {
          <a
            [routerLink]="['/citizen-comparator', batchId, element.filter+'-gross']"
            [queryParams]="element.params">
            {{element.gross | flexibleNumber}}
          </a>
        } @else {
          {{element.gross | flexibleNumber}}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="net">
      <th mat-header-cell *matHeaderCellDef> Net </th>
      <td mat-cell *matCellDef="let element">
        @if (element.filter) {
          <a
            [routerLink]="['/citizen-comparator', batchId, element.filter+'-net']"
            [queryParams]="element.params">
            {{ element.net | flexibleNumber }}
          </a>
        } @else {
          {{ element.net | flexibleNumber }}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="compareGross" *ngIf="compareBatchId">
      <th mat-header-cell *matHeaderCellDef class="compare-column" > Comparaison brut </th>
      <td mat-cell *matCellDef="let element" class="compare-column">
        {{element.compareGross | flexibleNumber}}
      </td>
    </ng-container>

    <ng-container matColumnDef="compareNet" *ngIf="compareBatchId">
      <th mat-header-cell *matHeaderCellDef class="compare-column" > Comparaison net </th>
      <td mat-cell *matCellDef="let element" class="compare-column">
        {{element.compareNet | flexibleNumber}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
